@import "tailwindcss";

@theme {
  --color-secondary: #006666;
  --color-on-tertiary-fixed: #3a0000;
  --color-tertiary-dim: #a40100;
  --color-secondary-fixed: #00fbfb;
  --color-on-secondary-fixed: #004747;
  --color-tertiary: #bb0100;
  --color-surface-variant: #dadddf;
  --color-on-secondary: #bbfffe;
  --color-on-error-container: #520c00;
  --color-on-surface: #2c2f30;
  --color-error-dim: #b92902;
  --color-inverse-surface: #0c0f10;
  --color-tertiary-fixed: #ff9382;
  --color-on-primary: #fff2cd;
  --color-secondary-fixed-dim: #00ecec;
  --color-inverse-primary: #ffd709;
  --color-on-background: #2c2f30;
  --color-on-secondary-fixed-variant: #006666;
  --color-primary-fixed-dim: #efc900;
  --color-on-primary-container: #5b4b00;
  --color-surface-container-lowest: #ffffff;
  --color-on-secondary-container: #005c5c;
  --color-primary-dim: #5e4e00;
  --color-surface-container-highest: #dadddf;
  --color-on-tertiary-fixed-variant: #7a0100;
  --color-on-primary-fixed-variant: #665500;
  --color-surface-tint: #6c5a00;
  --color-on-tertiary: #ffefed;
  --color-surface-container-low: #eff1f2;
  --color-background: #f5f6f7;
  --color-outline: #757778;
  --color-on-surface-variant: #595c5d;
  --color-on-primary-fixed: #453900;
  --color-outline-variant: #abadae;
  --color-secondary-container: #00fbfb;
  --color-tertiary-container: #ff9382;
  --color-primary-container: #ffd709;
  --color-secondary-dim: #005959;
  --color-primary-fixed: #ffd709;
  --color-error-container: #f95630;
  --color-on-tertiary-container: #690100;
  --color-tertiary-fixed-dim: #ff7c69;
  --color-surface-container: #e6e8ea;
  --color-on-error: #ffefec;
  --color-primary: #6c5a00;
  --color-surface-dim: #d1d5d7;
  --color-surface-bright: #f5f6f7;
  --color-surface: #f5f6f7;
  --color-inverse-on-surface: #9b9d9e;
  --color-surface-container-high: #e0e3e4;
  --color-error: #b02500;

  --font-headline: var(--font-space-grotesk);
  --font-body: var(--font-work-sans);
  --font-label: var(--font-space-grotesk);

  --radius-lg: 0px;
  --radius-xl: 0px;
  --radius-2xl: 0px;
  --radius-3xl: 0px;
  --radius-md: 0px;
  --radius-sm: 0px;
}

@layer base {
  :root {
    --background: #f5f6f7;
    --foreground: #2c2f30;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased selection:bg-primary-container selection:text-on-primary-fixed;
  }
}

@layer utilities {
  .neo-brutalist-shadow {
    box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
  }
}
